// wis 框架公共样式  不要修改这个文件

// table 查询头
.wis-table-search{
    padding: 12px 12px 0px 12px;
}

// table 头部按钮
.wis-table-top-tool-button{
    padding: 12px 12px 0px 12px;
    button{ margin-right: 6px; }
}

// table 
.wis-table{
    padding: 12px 12px 12px 12px;
}

// table 分页
.wis-table-page{
    padding: 0px 12px 12px 12px;
}